<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back.mapper.VipMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.back.entity.pojo.Vip">
        <id column="id" property="id" />
        <result column="vipId" property="vipid" />
        <result column="expired" property="expired" />
        <result column="extra" property="extra" />
        <result column="create_person" property="createPerson" />
        <result column="create_time" property="createTime" />
        <result column="update_person" property="updatePerson" />
        <result column="update_time" property="updateTime" />
        <result column="dr" property="dr" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, vipId, expired, extra, create_person, create_time, update_person, update_time, dr
    </sql>

</mapper>
